@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;700&display=swap');

:root {
    --bs-body-font-family:'Rajdhani', sans-serif;
}

nav {
    backdrop-filter: blur(0.5rem);
}
.active:before {
    content: "→ ";
}

@media (min-width: 992px) {
    .active:before {
        content: "↓ ";
    }
}

#fondito{
    background:blue url("https://picsum.photos/id/106/2400/1600/") no-repeat top left;
        background-size:cover;
}